
$green1: rgba(8, 102, 79, 1);
$green2: rgba(31, 161, 129, 1);
$green3: rgba(69, 146, 127, 0.9);
$green4: rgba(13, 188, 145, 1);
$green5: rgba(226, 240, 239, 1);
$green6: rgba(0, 210, 159, 1);
$grey: rgba(54, 72, 68, 1);
$grey2: rgba(134, 134, 134, 1);
$grey3: #e1e1e1;
$grey4: rgba(192, 192, 192, 1);
$white: #fff;
$white2: rgba(248, 251, 250, 1);